$border-color: #e0e3e6;
.list-container {
  padding-top: 15px;
  /deep/.el-breadcrumb{
    line-height: 1.5;
  }
  .box-container {
    position: relative;
    border-radius: 3px;
    background: #fff;
    margin-bottom: 10px;
    width: 100%;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,.12), 0 0 6px 0 rgba(0,0,0,.04);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.12), 0 0 6px 0 rgba(0,0,0,.04);
    .box-header {
      padding: 3px 10px;
      margin: 0px 0px;
      height: 50px;
      line-height: 26px;
      color: #333;
      box-sizing: border-box;
      .tool-title {
        position: relative;
        & >span {
          border-bottom: 2px solid #409EFF;
          padding-bottom: 5px;
        }
      }
    }
    .box-body {
      display: flex;
      align-items: center;
      margin: 0px 20px;
      padding:0 0px 10px;
      border-radius: 0 0 3px 3px;
      /deep/ .el-form-item {
        margin-bottom: 0;
      }
    }
  }
  .nav-container {
    .box-header {
      height: 39px;
      line-height: 39px;
      display: flex;
      align-items: center;
    }
  }
  .search-container, .table-container {
    .box-header {
      border-bottom: 1px solid $border-color;
      .tool-title {
        padding: 3px 10px;
        span {
          border-bottom: 2px solid #409EFF;
          padding-bottom: 5px;
        }
      }
    }
  }
  .table-container {
    margin-bottom: 0;
    .box-header {
      padding: 0;
      position: relative;
      border-bottom: 1px solid $border-color;
      margin-bottom: 20px;
      .tool-title {
        padding: 3px 10px;
        span {
          border-bottom: 2px solid #409EFF;
          padding-bottom: 5px;
        }
      }
      .add-btn{
        position: absolute;
        right: 12px;
        top: 10px;
      }
    }
  }
  .search-box-body{
    & >div{
      width: 100%;
    }
    align-items: flex-end !important;
    .el-form{
      display: flex;
      flex-wrap: wrap;
      overflow: hidden;
      .el-form-item{
        margin: 0 0 10px 0;
        width: 33.3%;
        display: flex;
        .el-form-item__content{
          flex: 1;
        }
      }
      .el-form-item-right{
        text-align: right;
      }

    }
    .el-form-more{
      height: 85px;
    }
    .search-button{
      margin: 0 0 10px 0;
    }
    .search-btn{
      text-align: right;
    }
    .search-row-one-btn{
      text-align: right;
      width: 100%;
    }
  }
  .el-btn-edit{
    color: #44C1B9;
  }
  .el-btn-delete{
    color: #EA4E3D;
  }
}
